* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f4f5f7;
}

.cadastro-container {
    background: #f4f5f7;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cadastro-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
}

.cadastro-form h1 {
    margin-bottom: 20px;
}

.input-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    width: 100%;
}

.input-group .icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #ffffff;
    border-radius: 5px 0 0 5px;
}

.input-group i {
    margin-right: 10px;
    color: #000000;
}

.input-group input {
    border: 1px solid #ccc;
    border-left: none;
    outline: none;
    flex: 1;
    padding: 10px;
    border-radius: 0 5px 5px 0;
    background-color: #f9f9f9;
}

.password-container {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.password-container input {
    width: calc(100% - 30px);
}

.password-container #toggle-password {
    position: absolute;
    right: 10px;
    cursor: pointer;
    color: #000000;
    margin-top: 16px;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #20b2aa;
    border: none;
    border-radius: 30px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 20px;
}

.cadastro-options {
    margin-top: 20px;
}

.cadastro-options a {
    margin: 5px;
    color: #000000;
    text-decoration: none;
}

.cadastro-options a:hover {
    color: #00ced1;
}
