body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f4f5f7;
}


.login-container {
  min-height: 300px; /* Defina uma altura mínima para o contêiner principal */
  background: rgb(247, 247, 247);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: min-height 0.3s; /* Adicione uma transição suave */
}


.message-container {
  display: none;
  padding: 10px;
  background-color: #d4edda;
  color: #155724;
  border: 1px solid #c3e6cb;
  border-radius: 3px;
  position: absolute; /* Posição absoluta para que não afete o layout do contêiner principal */
  bottom: 20px; /* Ajuste conforme necessário */
  left: 20px; /* Ajuste conforme necessário */
  right: 20px; /* Ajuste conforme necessário */
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
}

.login-form h1 {
  margin-bottom: 20px;
}

.input-group {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  width: 100%;
}

.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #ffffff;
  border-radius: 5px 0 0 5px;
}

.icon-container i {
  margin-right: 10px;
  color: #000000;
}

.input-group input {
  border: 1px solid #ccc;
  border-left: none;
  outline: none;
  flex: 1;
  padding: 10px;
  border-radius: 0 5px 5px 0;
  background-color: #f9f9f9;
}

button {
  width: 100%;
  padding: 12px;
  background-color:#20B2AA;
  border: none;
  border-radius: 30px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}


.message-container i {
  margin-right: 5px;
  color: #155724;
}
.cadastro-options {
  text-align: center;
}

.cadastro-options a {
  color: #000000;
  text-decoration: none;
}

.cadastro-options a:hover {
  color: #00ced1;
}
